body{
    height: auto;
    width: auto;
    background-color: peru;
    text-align: center;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: ivory;
    font-weight: 900;
    text-decoration: underline;
}
p{
    font-size: larger;
}
div form{

    background: whitesmoke;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: large;
}
button{
    margin-top: 10px;
    padding: 8px 16px;
    background-color: peru;
    border: none;
    color: white;
    border-radius: 5px;
}
#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
/* .table{
    width: 20%;
    text-align: center;
    padding: 10px;
    margin: auto;
    font-size: large;
    background-color: azure;

}
.table h2{
    font-size: larger;
    background-color: peru;
} */