body{
    height: auto;
    width: auto;
    background-color: peru;
    text-align: center;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: ivory;
    font-weight: 900;
    text-decoration: underline;
}
p{
    font-size: larger;
}
form {
  background: whitesmoke;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-size: large;
}